@font-face {
  font-family: 'manrope';
  src: url('fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.navbar-brand {
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:x-large;
}
.bg-darker{
  background-color: #1a1b1c
}
body {  font-family: "manrope";
  
}
